body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
header {
    width: 100%;
    height: 146px;
    background-color: #0d08087a;
    z-index: 999;
    position: fixed;
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 170px;
}
.navContent{
    float: right;
    margin-top: 10px;
    margin-right: 170px;
}
.navSecond{
    width: 1035px;
    height: 3px;

}
.navFirst{
    font-size: 14px;
}
.navThird{
    font-size: 16px;
    text-transform: uppercase;
}
.navFirst ul,  .navThird ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navFirst li,  .navThird li {
    float: right;
}
.navFirst a,  .navThird a{
    font-family: monospace;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}
.headIcon{
    width: 20px; 
    height: 20px; 
}
.mainImg{
    width: 100%;
    background-size: cover;
}
.mainTitle{
    font-weight: bold;
}
.mainTopic{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    line-height: 1.7;
}
.aboutUs {
    margin-top: 100px;
    width: 100%;
    display: flex;
  }

  .aboutImgLeft,
  .aboutImgRight {
    flex-basis: 50%; 
  }

  .aboutImgLeft img,
  .aboutImgRight img {
    width: 100%; 
    height: auto; 
  }
  .aboutImgRight {
    flex: 1;
    position: relative;
  }
  .aboutImgRight img{
    opacity: 0.1; 
  }
  .aboutContain {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-59%, -50%); 
  }
  .aboutContain p{
    text-align: justify;
    text-align-last: left;
    width: 547px;
  }

  .aboutBtn{
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .serviceContent{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .serviceBoxes{
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
   
  }
  .serviceBox1,.serviceBox2,.serviceBox3{
    
    background-color: #eaeaea;
    width: 370px;
    height: 500px;
    border-radius: 15px;
    position: relative;
  }
  .serviceBox1 p,.serviceBox2 p,.serviceBox3 p{
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
  }
  .serviceBtn{
    position: absolute;
  bottom: -13px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

  }
  .serviceBoxes h2{
    background-color: #f0d839;
    display: flex;
  align-items: center; 
  justify-content: center; 
  width: calc(100% + 8px);
    height: 82px;
    margin: 10px -4px;
  }

  .packAndGoHead{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .packAndGo {
    position: relative;
    width: 100%;
  }


  .packAndGoHead,
  .packAndGoContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .packAndGoContent{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .packAndGoContent1  , .packAndGoContent3{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    5px 5px 10px #888888, /* Bottom right */
    -5px -5px 10px #888888, /* Top left */
    5px -5px 10px #888888, /* Top right */
    -5px 5px 10px #888888; /* Bottom left */
  }
  .packAndGoContent2 {
    position: relative;
    width: 360px;
    height: 550px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    5px 5px 10px #888888b7, /* Bottom right */
    -5px -5px 10px #888888a7, /* Top left */
    5px -5px 10px #888888ad, /* Top right */
    -5px 5px 10px #888888ac; /* Bottom left */
  }
  .packAndGoContent1 img , .packAndGoContent3 img{
    width: 350px;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoContent2 img{
    justify-content: center;
    align-items: center; 
    justify-content: center; width: 360px;
    margin: -20px ;
    border-radius: 10px 10px 0px 0px;
  }

  .packAndGoContent {
    margin-top: 200px; /* Adjust the margin to create space between the head and content */
  } 
  .PackAndGoBlueLine::before {
    content: "";
    position: absolute;
    width: 1515px;
    height: 260px;
    background-color: #49c4aa;
    bottom: -125px;
    left: 50%; /* Center the line */
  transform: translateX(-50%); /* Center the line horizontally */
  z-index: -1;
  }
  .packAndGoContent p{
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
  }
  .PackAndGoBtn1 , .PackAndGoBtn3{
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  .PackAndGoBtn2{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 70px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .values{
    margin-top: 100px;
  }
  .valuesImg{
    float: left;
    margin-left: 150px;
  }
  .valuesImg img{
    width: 417px;
    height: 444px;
    border-radius: 10px;
  }
  .valuesContain{
    float: right;
    width: 850px;
  }
  .valuesSpan{
    font-weight: bold;
    color: #000;
    border: #49c4aa solid 2px;
    width: 704px;
    height: 70px;
  }
 .trans{
    background-color: #49c4aa;
    color: #ffffff;
    height: 70px;
    border: none;
    position: relative;
  width: 200px; /* Adjust the width of the rectangle */
  font-size: 17px;

  }
  .trans::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px; /* Adjust the distance of the triangle from the right edge */ 
    border-style: solid;
    border-width: 35px 0 35px 20px; /* Adjust the size of the triangle */
    border-color: transparent transparent transparent #49c4aa; /* Adjust the color of the triangle to match the rectangle background */
  }