body, html {
  margin: 0;
  padding: 0;
}
body {
    font-family: Montserrat;
}

header {
    width: 100%;
    background-color: #0d0808bd;
    z-index: 999;
    position: fixed;
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 170px;
}
.navContent{
    float: right;
    margin-top: 10px;
    margin-right: 170px;
}
.navSecond{
    width: 1035px;
    height: 3px;

}
.navFirst{
    font-size: 14px;
}
.navThird{
    font-size: 16px;
    text-transform: uppercase;
}
.navFirst ul,  .navThird ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navFirst li,  .navThird li {
    float: right;
}
.navFirst a,  .navThird a{
    font-family: Montserrat;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

.navFirst .social-icons li{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navFirst .social-icons li i{
  color: #f5e106;
  font-size: 16px;
}
.navFirst .icon{
  padding-top: 0px;
}
#main{
  position: relative;
    overflow: hidden;
}
.slider{
  display: flex;
  transition: transform 1s ease-in-out;
}
.mainImg{
    width: 100%;
    height: auto;
    transition: opacity 5s ease-in-out;
}
.mainImg.active {
  opacity: 1;
}

.mainText{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 0.5;
}
.mainText H1{
  font-size: 76PX;
}
.mainText h3{
  text-transform: uppercase;
  line-height: normal;
}
.mainBtn{
    margin-top: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;

}
.mainTitle{
    font-weight: bold;
    font-family: Montserrat;
}
.mainTopic{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    line-height: 1.7;
}
.mainPara{
  font-family: lato;
}
.aboutUs {
    margin-top: 100px;
    width: 100%;
    display: flex;
  }

  .aboutImgLeft,
  .aboutImgRight {
    flex-basis: 50%; 
  }

  .aboutImgLeft img{
    width: 100%; 
    height: auto;
  }
  .aboutImgRight {
    flex: 1;
    position: relative;
  }
  .aboutImgRight img{
    opacity: 0.1; 
    width: 100%;
    height: auto;
  }
  .aboutContain {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-59%, -50%); 
    font-family: Montserrat;
  }
  .aboutContain p{
    text-align: justify;
    text-align-last: left;
    width: 547px;
    font-family: lato;
  }

  .aboutBtn{
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
  }

  .serviceContent{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
  }
  .serviceContent p{
    font-family: lato;
  }
  .services{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .arrow-left, .arrow-right{
    height: 50px;
    width: 50px;
    background: rgb(255, 254, 254);
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 67%;
    transform: translateY(-50%);
    z-index: 5;
  }
  .arrow-left{
    left: 20px;
  }
  .arrow-right{
    right: 20px;
  }
  .services .serviceBoxes{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-left: 150px;
    margin-right: 150px;
    height: 600px;
  }
  .serviceBoxes::-webkit-scrollbar {
    display: none;
  }
  .serviceBoxes .no-transition {
    scroll-behavior: auto;
  }
  .serviceBox1,.serviceBox2,.serviceBox3{
    scroll-snap-align: start;
    flex-direction: column;
    background-color: #eaeaea;
    width: 326px;
    height: 529px;
    border-radius: 15px;
    position: relative;
    text-align: center;
  }
  .serviceBox1 p,.serviceBox2 p,.serviceBox3 p{
    padding-left: 23px;
    padding-right: 23px;
    margin: 20px;
    line-height: 1.5;
    font-family: lato;
  }
  .serviceBtn{
  position: relative;
  bottom: -30px; 
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #49c4aa;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Montserrat;
  }
  .serviceBoxes h2{
    background-color: #f0d839;
    display: flex;
  align-items: center; 
  justify-content: center; 
  width: calc(100% + 8px);
    height: 82px;
    margin: 10px -4px;
  }
  /* .arrow-left, .arrow-right{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    color: #515050;
  } */
  .packAndGoHead{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .packAndGo {
    position: relative;
    width: 100%;
    margin-top: 105px;
  }
  .packAndGoImg{
    width: 100%;
    height: 1000px;
    clip-path: inset(10px 0 200px 0);
  }

  .packAndGoHead h1{
    font-size: 34px;
    font-weight: 900;
  }

  .packAndGoHead h2{
    font-weight: 500;
    font-size: 35px;
  }
  .packAndGoHead,
  .packAndGoContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .packAndGoContent{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .packAndGoContentinner{
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .packAndGoContent1  , .packAndGoContent3{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    5px 5px 10px #888888, 
    -5px -5px 10px #888888, 
    5px -5px 10px #888888, 
    -5px 5px 10px #888888; 
  }
  .packAndGoContent2 {
    position: relative;
    width: 360px;
    height: 520px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    -5px -5px 10px #888888a7, 
    5px -5px 10px #888888ad, 
    -5px 5px 10px #888888ac; 
  }

  .packAndGoContent2::before {
    content: "";
    position: absolute;
    bottom: -104px;
    left: 50%; 
    transform: translateX(-50%); 
    border-style: solid;
    border-width: 80px 185px 30px 185px; 
    border-color: #eaeaea  transparent transparent transparent; 
    border-radius: 30px;
}
  

  .packAndGoContent1 img , .packAndGoContent3 img{
    width: 350px;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoContent2 img{
    justify-content: center;
    align-items: center; 
    justify-content: center; 
    width: 360px;
    margin: -20px ;
    border-radius: 10px 10px 0px 0px;
  }

  .packAndGoContent {
    margin-top: 300px; 
    z-index: 2;
  } 
  .PackAndGoBlueLine::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 260px;
    background-color: #49c4aa;
    bottom: 105px;
    left: 50%; 
  transform: translateX(-50%); 
  z-index: 1;
  }
  .packAndGoContent p{
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    font-size: 15px;
    line-height: 1.5;
    font-family: lato;
  }
  .packAndGoContent h4{
    font-weight: 500;
    font-size: 20px;
  }

  .packAndGoContent h3{
    font-weight: 900;
    font-size: 20px;
  }
  .PackAndGoBtn1 , .PackAndGoBtn3{
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
  }
  .PackAndGoBtn2{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .values{
    margin-top: 50px;
  }
  .valuesImg{
    float: left;
    margin-left: 150px;
  }
  .valuesImg img{
    width: 417px;
    height: 444px;
    border-radius: 10px;
  }
  .valuesContain{
    float: right;
    width: 850px;
  }
  .valuesSpan{
    font-weight: bold;
    color: #000;
    border: #49c4aa solid 2px;
    width: 670px;
    height: 70px;
    font-family: Montserrat;
  }
 .trans{
    background-color: #49c4aa;
    color: #ffffff;
    height: 70px;
    border: none;
    position: relative;
  width: 200px; /* Adjust the width of the rectangle */
  font-size: 17px;
  font-family: Montserrat;

  }
  .trans::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px; /* Adjust the distance of the triangle from the right edge */ 
    border-style: solid;
    border-width: 35px 0 35px 20px; /* Adjust the size of the triangle */
    border-color: transparent transparent transparent #49c4aa; /* Adjust the color of the triangle to match the rectangle background */
  }
  .customer{
    background-color: #e4e4e4;
    color: #000000;
    height: 70px;
    border: none;
    position: relative;
  width: 200px; /* Adjust the width of the rectangle */
  font-size: 17px;
  z-index: -1;
  font-family: Montserrat;
  }
  .customer::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px; 
    border-style: solid;
    border-width: 35px 0 35px 20px; 
    border-color: transparent transparent transparent #e4e4e4; 
  }
  .encourage{
    background-color: #fffdfd;
    color: #000000;
    height: 70px;
    border: none;
    position: relative;
  width: 200px;
  font-size: 17px;
  z-index: -2;
  margin-left: 40px;
  font-family: Montserrat;
  }

  .valuesContain p{
    margin-top: 30px;
    margin-right: 220px;
    text-align: justify;
    line-height: 1.7;
    font-family: lato;
  }
  .valuesBtn{
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 12px;
    font-weight: 200px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
  }

  .values h2{
    font-weight: bold;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .OtherCountry{
    width: 100%;
    height: 750px;
    background-color: #eaeaea;
    margin-top: 600px;
    position: relative;
    overflow: hidden;
  }

  .OtherCountry .arrow-button {
    width: 30px;
    height: 30px;
    background-color: #49c4aa;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    top: 50%;
    text-align: center;
  }
  
  .OtherCountry .left {
    left: 0px;
    font-size: 25px;
    color: #ffffff;
  }
  
  .OtherCountry .right {
    right: 0px;
    font-size: 25px;
    color: #ffffff;
  }

  .OtherCountry .left::before,
.OtherCountry .right::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.OtherCountry .right::before {
  border-color: transparent transparent transparent #ffffff00; 
  top: 50%;
  left: 50%;
}

.OtherCountry .left::before {
  border-color: transparent #ffffff00 transparent transparent; 
  top: 50%;
  left: 50%;
}

  .OtherCountry h2{
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
  }

  .OtherCountryContent{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
  }
  .OtherCountryContent::-webkit-scrollbar {
    display: none;
  }
  .OtherCountryContent .no-transition {
    scroll-behavior: auto;
  }

  .OtherCountryContent1, .OtherCountryContent2, .OtherCountryContent3{
    scroll-snap-align: start;
    width: 350px;
    height: 400px;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .OtherCountryContent1 img, .OtherCountryContent2 img, .OtherCountryContent3 img{
    width: 350px;
    border-radius: 10px 10px 0px 0px;
  }
  .OtherCountryBtn{
    margin-top: -20px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 12px;
    font-weight: 200px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    position: absolute;
    font-family: Montserrat;
  }

  .OtherCountry h3{
    margin: 50px;
    font-weight: bold;
    font-size: 20px;
  }
  .paginationcontainer {
    text-align: center;
    margin-top: 70px; 
  }
  
  .paginationlink {
    display: inline-block;
    width: 12px; 
    height: 12px; 
    background-color: white; 
    border-radius: 50%; 
    margin: 0 5px; 
    cursor: pointer;
  }
  
  .paginationlink.active {
    background-color: #49c4aa; 
  }
  
  .contactUs{
    position: relative;
  }
  .contactUs .ImageC{
    width: 100%;
  }
  .contactUsDetails{
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 250px;
    margin-right: 200px;
  }

  .contactUsHead{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fffdfd;
  }

  .contactUsHead {
    font-size: 25px;
    font-weight: bold;
  }
  .contactUsHead h3{
    font-weight: lighter;
  }

  .contactUsDetails1{
    width: 260px;
  }
  .contactUsDetails1Img{
    float: left;
  }
  .contactUsDetails1Text{
    padding-left: 80px;
    text-align: left;
    float: right;
    width: 190px;
    position: absolute;
    font-size: 14px;
    color: #262626;
    font-family: Montserrat;
  }

  .contactUsDetails1Text h2{
    text-transform: uppercase;
    font-family: lato;
  }

  .contactUsDetails1Text p{
    line-height: 1.7;
    font-family: lato;
  }

  .contactUs .social-icons{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .contactUs .social-icons .icon {
  font-size: 30px; 
  padding: 20px;
  margin: 10px;
  color: #353535; 
  border: 2px solid #fff200;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-content: center;
}
.contactUs .social-icons .icon:hover {
  color: #e74c3c; 
}

.footer{
  width: 100%;
  height: 200px;
  background-color: #f0d839;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: lato;

}
.footer p{
  width:325px ;
  line-height: 1.7;
}
@media screen and (max-width: 1500px){
.navContent{
  margin-right: 10px;
  width: 75%;
}
.valuesImg{
  margin-left: 10px;
}
.valuesContain{
  width: 750px;
}
}

@media screen and (max-width: 1200px) {

  .logo{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  .navContent{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  .navSecond{
    width: 100%;
    height: 3px;
  }
  .navFirst{
    font-size: 14px;
  }
  .navThird{
    font-size: 16px;
    text-transform: uppercase;
  }
  .navFirst ul,  .navThird ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navFirst li,  .navThird li {
    float: right;
  }
  .navFirst a,  .navThird a{
    font-family: Montserrat;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
  }
  .navFirst .social-icons li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .navFirst .social-icons li i{
    color: #f5e106;
    font-size: 16px;
  }
  .navFirst .icon{
    padding-top: 0px;
  }
  .mainImg{
    width: 100%;
    background-size: cover;
  }
  
  .mainText{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 0.7;
  }
  .mainText H1{
    font-size: 56PX;
  }
  .mainText h3{
    text-transform: uppercase;
  }
  .mainBtn{
    margin-top: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  
  }
  .mainTitle{
    font-weight: bold;
  }

  .mainTopic{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.7;
  }

  .aboutContain p{
    width: 420px;
  }
  .aboutContain{
    margin-left: 20px;
  }
  .serviceContent{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .serviceBoxes{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .serviceBox1,.serviceBox2,.serviceBox3{
    background-color: #eaeaea;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    position: relative;
  }
  .serviceBox1 p,.serviceBox2 p,.serviceBox3 p{
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
    line-height: 1.5;
  }
  .packAndGoContent1  , .packAndGoContent3{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    5px 5px 10px #888888, 
    -5px -5px 10px #888888, 
    5px -5px 10px #888888, 
    -5px 5px 10px #888888;
  }
  .packAndGoContent2 {
    position: relative;
    width: 310px;
    height: 520px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    -5px -5px 10px #888888a7, 
    5px -5px 10px #888888ad, 
    -5px 5px 10px #888888ac; 
  }
  .packAndGoContent2::before {
    content: "";
    position: absolute;
    bottom: -104px;
    left: 50%; 
    transform: translateX(-50%); 
    border-style: solid;
    border-width: 82px 155px 30px 155px; 
    border-color: #eaeaea  transparent transparent transparent; 
    border-radius: 30px;
  }
  .packAndGoContent1 img , .packAndGoContent3 img{
    width: 300px;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoContent2 img{
    justify-content: center;
    align-items: center; 
    justify-content: center; 
    width: 319px;
    margin: -30px ;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoImg img{
    display: none;
  }
  .packAndGoImg{
    width: 100%;
    background: url('../images/bg1.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
  }

  .valuesImg img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  .valuesContain{
    width: 600px;
  }
  .valuesImg{
    margin-left: 30px;
  }
  .valuesSpan{
    width: 550PX;
  }
  .trans,.customer,.encourage{
    width: 170px;
    font-size: medium;
  }
  .OtherCountryContent1, .OtherCountryContent2, .OtherCountryContent3{
    width: 270px;
    height: 350px;
    margin-left: 10PX;
    margin-right: 10PX;
  }
  .OtherCountryContent1 img, .OtherCountryContent2 img, .OtherCountryContent3 img{
    width: 270px;
    border-radius: 10px 10px 0px 0px;
  }
  .OtherCountryContent{
    margin-left: 50px;
    margin-right: 50px;
  }
  .contactUsHead{
    line-height: 0.51;
  }
  .contactUsDetails1Img img{
    width: 40px;
    height: 40px;
  }
  .contactUsDetails1Text{
    padding-left: 50px;
  }
}

@media screen and (max-width:950px) {

  .aboutUs{
    flex-direction: column;
  }
  .aboutImgLeft,
    .aboutImgRight {
      flex-basis: 100%;
    }

    .serviceBoxes{
      flex-direction: column;
    }
    .serviceBox1,.serviceBox2,.serviceBox3{
      background-color: #eaeaea;
      width: 450px;
      height: 450px;
      border-radius: 15px;
      position: relative;
      margin-bottom: 30px;
    }
    .packAndGoContent2{
      width: 100%;
    }
    .packAndGoContent1 , .packAndGoContent3{
      width: 30%;
    }
    .packAndGoContent1 img , .packAndGoContent3 img{
      width: 100%;
    }
    .packAndGoContent2 img{
      width: 100%;
    }
    .packAndGoContent2::before {
      display: none;
    }
    .packAndGoContent1 p , .packAndGoContent3 p{
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
      font-size: 15px;
      line-height: 1.5;
    }
    .packAndGoContent1 h4 , .packAndGoContent3 h4{
      font-weight: lighter;
      font-size: 15px;
    }
    .packAndGoContent1 h3 , .packAndGoContent3 h3{
      font-weight: bold;
      font-size: 17px;
    }
    .PackAndGoBtn3, .PackAndGoBtn1{
      margin-right: 0px;
      margin-left: 0px;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      background-color: #f9e03b;
      color: #000;
      font-size: 12px;
      font-weight: 200px;
      text-transform: uppercase;
      cursor: pointer;
    }
    .values{
      flex-direction: column;
      height: 750px;
    }
    .valuesImg{
      width: 90%;
      text-align: center;
    }
    .valuesContain{
      width: 100%;
      margin-top: 40px;
    }
    .values h2{
      text-align: center;
    }

    .valuesSpan{
      margin-left: 100px;
      margin-right: 100px;
    }

    .valuesContain p{
      margin: 30px;
      text-align: center;
      line-height: 1.7;
    }
    
    .valuesBtn{
      margin-right: 40%;
      margin-left: 40%;
    }
  .OtherCountry{
      margin-top: 100px;
    }
  .OtherCountry .OtherCountryContent{
    justify-content: flex-start;
    align-items: center;
  }
  .OtherCountryContent1 , .OtherCountryContent2, .OtherCountryContent3{
    margin-bottom: 30px;
  }
  .contactUsDetails{
    flex-direction: column;
    height: 300px;
    align-items: center;
    text-align: center;
  }

}

/* @media screen and (max-width:1500px)
{
  .mainText{
    top: 30%;
  }

  .valuesImg{
    margin-left: 30px;
  }
  .valuesContain{
    width: 650px;
    margin-right: 50px;
  }
} */

.mobileNav{
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
}

.mobileNav ul li{
  display: none;
}
.mobileNav ul li a{
  display: none;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #060606;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.mobileNav ul li a:hover{
  background-color: #edd81f;
  color: #000;
}

.mobileNav h1{
  display: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #262626;
}


@media screen and (max-width:746px){
  header{
    background-color: #000;
    height: 58px;
  }
  .logo img{
    width: 40px;
  }
  .mobileNav{
    display: block;
    width: 100%;
    z-index: 999;
  }
  .navContent{
    display: none;
    height: 20px;
  }
  
.mobileNav ul li{
  display: block;
}
.mobileNav ul li a{
  display: block;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.mobilenavbar{
  background-color: #000;
}
.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
.menu.show {
  display: block;
  background: white;
  height: 750px;
  float: right;
  width: 100%;
  margin-top: 10px;
}

.menu li {
  margin: 10px 0;
  background-color: #fffdfd;
  border-bottom: 0.2px solid #16161653;
}

.menu li a {
  color: #010101;
  text-decoration: none;
}
  .mainText{
    top: 50%;
  }
  .mainText h1{
    font-size: 30px;
  }
  .mainText h3{
    font-size: 20px;
  }
  .packAndGoContent{
    flex-direction: column;
    margin: 0px;
    top: 150px;
    align-items: center;
  }
  .packAndGoContent1 , .packAndGoContent3, .packAndGoContent2{
    width:60%;
    height: auto;
    margin-top: 100px;
  }
  .packAndGoImg{
    height: 2200px;
    width: 100%;
    background: url('../images/bg1.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
  }
  .packAndGoContent1 p , .packAndGoContent3 p{
    margin: 20px;
  }
  .PackAndGoBtn1 , .PackAndGoBtn2 , .PackAndGoBtn3{
    margin: 20px;
  }
  .packAndGoImg img{
    display: none;
  }
  .contactUsHead{
    font-size: 18px;
    margin-top: 15px;
  }
  .valuesSpan{
    width: 70%;
  }
  .valuesSpan button{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
  .trans,.customer{
    width:118px;
  }
  .encourage{
    width: 170px;
  }
  .services .serviceBoxes{
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width:550px){
  .mainText{
    top: 55%;
  }
.OtherCountry{
  margin-top: 200px;
}

.aboutContain{
  top: 70%;
  width: 100%;
}
.aboutContain p{
  width: 100%;
  height: auto;
  margin: 20px;
}
.aboutContain h1{
  text-align: center;
}
.aboutContain h2{
  text-align: center;
}
.contactUs .social-icons{

align-items: center;
justify-content: center;
text-align: center;}

.serviceContent{
  margin-top: 150px;
}
.packAndGoImg{
 height: 2000px;
}
.PackAndGoBlueLine::before {
  
  width: 100%;
}
.mainTopic{
  margin-left: 20px;
  margin-right: 20px;
}
.valuesSpan{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
  width: 400px;
}
.trans{
  width: 90px;
}
.customer{
  width: 120px;
  padding-right: 0px;
  margin-right: 0px;
}
.encourage{
  padding-right: 0px;
  margin-right: 0px;
}
.packAndGoContent p{
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}
.packAndGoContent h4{
  font-size: 15px;
}
}
@media screen and (max-width:450px){

  .mainText{
    top: 58%;
  }
  .mainText h1{
    font-size: 20px;
  }
  .mainText h3{
    font-size: 15px;
    line-height: normal;
  }
  .values{
    margin-top: 0px;
  }
  .serviceBox1, .serviceBox2, .serviceBox3 {
    width: 350px;
}
.OtherCountry{
  margin-top: 230px;
}
.valuesSpan{
  flex-direction: column;
  width: 80%;
}
.valuesContain p{
  margin-top: 200px;
}
.trans{
  width: 100%;
}
.customer{
  width: 100%;
}
.encourage{
  width: 100%;
  border: 1px solid #49c4aa;
  margin-left: 3px;
}
.encourage::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  border-style: solid;
  border-width: 35px 0 35px 20px;
  border-color: transparent transparent transparent #49c4aa;
}
.packAndGo{
  margin-top: 0px;

}
.packAndGoImg{
  height: 1900px;
}
.PackAndGoBlueLine::before {
  width: 100%;
}
.valuesBtn{
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
}
.valuesImg {
  margin: auto;
}
.valuesContain{
  float: left;
  text-align: center;
}
.aboutImgLeft img {
  width: 90%;
  padding: 20px;
}
.aboutContain {
  top: 70%;
  width: 90%;
}
.contactUsDetails{
  margin-left: 242px;
}
}