body, html {
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.5s ease;
}
body {
    font-family: Montserrat;
}

header {
    width: 100%;
    background-color: #0d0808bd;
    z-index: 999;
    position: fixed;
}
.logo{
    float: left;
    margin-top: 10px;
    margin-left: 170px;
}
.navContent{
    float: right;
    margin-top: 10px;
    margin-right: 170px;
}
.navSecond{
    width: 1035px;
    height: 3px;

}
.navFirst{
    font-size: 14px;
}
.navThird{
    font-size: 16px;
    text-transform: uppercase;
}
.navFirst ul,  .navThird ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navFirst li,  .navThird li {
    float: right;
}
.navFirst a,  .navThird a{
    font-family: Montserrat;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

.navFirst .social-icons li{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navFirst .social-icons li i{
  color: #f5e106;
  font-size: 16px;
}
.navFirst .icon{
  padding-top: 0px;
}

#main .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .swiper-slide img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
}

.mainText{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 0.5;
}
.mainText H1{
  font-size: 76PX;
}
.mainText h3{
  text-transform: uppercase;
  line-height: normal;
}
.mainBtn{
    margin-top: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 15.13pt;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;

}
.mainTitle{
    font-weight: bold;
    font-family: Montserrat;
    font-size: 36px;
}
.mainTopic{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 30px;
}
.mainPara{
  font-family: lato;
  font-size: 16px;
  font-style: normal;
  line-height: 30px;
}
.aboutUs {
    margin-top: 100px;
    width: 100%;
    display: flex;
  }

  .aboutImgLeft,
  .aboutImgRight {
    flex-basis: 50%; 
  }

  .aboutImgLeft img{
    width: 100%; 
    height: auto;
  }
  .aboutImgRight {
    flex: 1;
    position: relative;
  }
  .aboutImgRight img{
    opacity: 0.1; 
    width: 100%;
    height: auto;
  }
  .aboutContain {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-59%, -50%); 
    font-family: Montserrat;
  }
  .aboutContain h1{
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
  }
  .aboutContain h2{
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .aboutContain p{
    text-align: justify;
    text-align-last: left;
    width: 577px;
    font-family: lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  .aboutBtn{
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
  }

  #services{
    margin-top: 100px;
    height: 850px;
  }
  .card_slider{
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 26.67pt;
  }
  .serviceContent h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  .serviceContent p{
    font-family: lato;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  .arrow-left, .arrow-right{
    height: 50px;
    width: 50px;
    background: rgb(255, 254, 254);
    font-size: 2.1rem;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .arrow-left{
    left: -15px;
  }
  .arrow-right{
    right: -15px;
  }
  .slider_container .container{
    padding: 0 50px;
    margin: 0 auto;
  }
  
  .swiper-slide_main{

  }

  .swiper-slide{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    /* background-color: #eaeaea; */
    border-radius: 15px;
    text-align: center;
    height: 53vh;
    /* border:2px solid blue; */
   
  }

  .serviceContent_sub{
    background-color: #eaeaea !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

 
  .swiper-slide p{
    box-sizing: border-box;
    padding-top: 5vh;
    background-color: #eaeaea;
    padding-left: 23px;
    padding-right: 23px;
    height:40vh;
    line-height: 30px;
    font-family: lato;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0 !important;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border:1px solid red; */
    
  }

 
  .serviceBtn{
  position: relative;
    top: -5vh;
  /* bottom: 92px;  */
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #49c4aa;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Montserrat;
  z-index: 2;
  }
  #serviceContent{
    /* height: 515px; */
    /* height: 55vh; */
  }
  .swiper-wrapper h2{
    background-color: #f0d839;
    display: flex;
  align-items: center; 
  justify-content: center; 
  width: calc(100% + 8px);
    height: 82px;
    margin: 10px -4px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .packAndGoHead{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .packAndGo {
    position: relative;
    width: 100%;
  }
  .packAndGoImg img{
    display: none;
  }
  .packAndGoImg {
    clip-path: inset(10px 0 200px 0);
    width: 100%;
    height: 1000px;
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

  .packAndGoHead h1{
    font-size: 36px;
    font-weight: bold;
  }

  .packAndGoHead h2{
    font-weight: normal;
    font-size: 30px;
  }
  .packAndGoHead,
  .packAndGoContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .packAndGoContent{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .packAndGoContentinner{
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .packAndGoContent1  , .packAndGoContent3{
    width: 430px;
    height: 550px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    5px 5px 10px #888888, 
    -5px -5px 10px #888888, 
    5px -5px 10px #888888, 
    -5px 5px 10px #888888; 
  }
  .packAndGoContent2 {
    position: relative;
    width: 430px;
    height: 589px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    -5px -5px 10px #888888a7, 
    5px -5px 10px #888888ad, 
    -5px 5px 10px #888888ac; 
  }

  .packAndGoContent2::before {
    content: "";
    position: absolute;
    bottom: -104px;
    left: 50%; 
    transform: translateX(-50%); 
    border-style: solid;
    border-width: 80px 220px 30px 220px; 
    border-color: #eaeaea  transparent transparent transparent; 
    border-radius: 30px;
}
  

  .packAndGoContent1 img , .packAndGoContent3 img{
    width: 430px;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoContent2 img{
    justify-content: center;
    align-items: center; 
    justify-content: center; 
    width: 430px;
    margin: -20px ;
    border-radius: 10px 10px 0px 0px;
  }

  .packAndGoContent {
    margin-top: 250px; 
    z-index: 2;
  } 
  .PackAndGoBlueLine::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #49c4aa;
    bottom: 0px;
    left: 50%; 
  transform: translateX(-50%); 
  z-index: 1;
  }
  .packAndGoContent p{
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    font-family: lato;
  }
  .packAndGoContent h4{
    font-weight: normal;
    font-size: 18px;
  }

  .packAndGoContent h3{
    font-weight: bold;
    font-size: 24px;
    margin-top: -25px;
    margin-bottom: 10px;
  }
  .PackAndGoBtn1 , .PackAndGoBtn3{
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
  }
  .PackAndGoBtn2{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
  }

  .values{
    margin-top: 150px;
  }
  .valuesImg{
    float: left;
    margin-left: 150px;
  }
  .valuesImg img{
    width: 417px;
    height: 444px;
    border-radius: 10px;
  }
  .valuesContain{
    float: right;
    width: 920px;
  }
  .valuesSpan{
    color: #000;
    border: #49c4aa solid 2px;
    width: 870px;
    height: 70px;
    font-family: Montserrat;
  }
 .trans{
    background-color: #49c4aa;
    color: #ffffff;
    height: 70px;
    border: none;
    position: relative;
  width: 220px; /* Adjust the width of the rectangle */
  font-size: 16px;
  font-weight: bold;
  line-height: 68px;
  font-family: Montserrat;

  }
  .trans::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px; /* Adjust the distance of the triangle from the right edge */ 
    border-style: solid;
    border-width: 35px 0 35px 20px; /* Adjust the size of the triangle */
    border-color: transparent transparent transparent #49c4aa; /* Adjust the color of the triangle to match the rectangle background */
  }
  .customer{
    background-color: #e4e4e4;
    color: #000000;
    height: 70px;
    border: none;
    position: relative;
  width: 270px; /* Adjust the width of the rectangle */
  font-size: 16px;
  font-weight: bold;
  line-height: 68px;
  z-index: -1;
  font-family: Montserrat;
  }
  .customer::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px; 
    border-style: solid;
    border-width: 35px 0 35px 20px; 
    border-color: transparent transparent transparent #e4e4e4; 
  }
  .encourage{
    background-color: #fffdfd;
    color: #000000;
    height: 70px;
    border: none;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 68px;
  z-index: -2;
  margin-left: 30px;
  font-family: Montserrat;
  }

  .valuesContain p{
    margin-top: 30px;
    margin-right: 220px;
    text-align: justify;
    line-height: 30px;
    font-family: lato;
    font-size: 16px;
    font-weight: 400;
  }
  .valuesBtn{
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
  }

  .values h2{
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 80px;
  }

  #OtherCountry{
    height: 910px;
    background-color: #eaeaea;
    margin-top: 750px;
    position: relative;
  }

  #OtherCountry .card_slider{
    margin-left: 100px;
    margin-right: 100px;
  }
  #OtherCountry .arrow-left, #OtherCountry .arrow-right{

    background-color: #49c4aa;
    position: absolute;
    cursor: pointer;
    text-align: center;
  }
  
  #OtherCountry #left {
    font-size: 25px;
    color: #ffffff;
  }
  
  #OtherCountry #right {
    font-size: 25px;
    color: #ffffff;
  }

  #OtherCountry h2{
    font-size: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
  }

 #OtherCountryContent{
    scroll-snap-align: start;
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
  }

  #OtherCountryContent img{
    width: inherit;
    border-radius: 10px 10px 0px 0px;
  }
  .OtherCountryBtn{
    margin-top: -20px;
    padding: 10px 30px;
    left: 180px;
    right: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #f9e03b;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    position: absolute;
    font-family: Montserrat;
  }

  #OtherCountryContent h3{
    margin: 50px;
    font-weight: bold;
    font-size: 24px;
  }
  #pagination {
    margin-bottom: 60px; 
  }
  
  #pagination.active {
    background: #49c4aa; 
  }
  
  .contactUs{
    position: relative;
  }
  .contactUs .ImageC{
    width: 100%;
  }
  .contactUsDetails{
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 290px;
    margin-right: 290px;
  }

  .contactUsHead{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fffdfd;
  }

  .contactUsHead h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .contactUsHead h3{
    font-weight: normal;
    font-size: 30px;
    margin-top: 10px;
  }

  .contactUsDetails1{
    width: 260px;
  }
  .contactUsDetails1Img{
    float: left;
  }
  .contactUsDetails1Text{
    padding-left: 80px;
    text-align: left;
    float: right;
    width: 190px;
    position: absolute;
    color: #262626;
    font-family: Montserrat;
  }

  .contactUsDetails1Text h2{
    text-transform: uppercase;
    font-family: lato;
    font-size: 18px;
    font-weight: bold;
  }

  .contactUsDetails1Text p{
    line-height: 24pt;
    font-family: lato;
    font-size: 16px;
    font-weight: normal;
  }

  .contactUs .social-icons{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .contactUs .social-icons .icon {
  font-size: 30px; 
  padding: 20px;
  margin: 10px;
  color: #353535; 
  border: 2px solid #fff200;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-content: center;
}
.contactUs .social-icons .icon:hover {
  color: #e74c3c; 
}
.footer{
  width: 100%;
  height: 150px;
  background-color: #f0d839;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: lato;
}
.footer p{
  width:425px ;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 1500px){
.navContent{
  margin-right: 10px;
  width: 75%;
}
.valuesImg{
  margin-left: 10px;
}
.valuesContain{
  width: 900px;
}
.aboutContain{
  top: 53%;
    left: 56%;
}
.aboutContain p{
  width: 600px;
}
.aboutBtn{
  margin-top: 0px;
} 
.contactUsDetails {
  margin-left: 250px;
  margin-right: 250px;
}
.slider_container .container {
  padding: 1px 50px;
  margin: -50px 50px;
}
.packAndGoContent{
  margin-left: 10px;
  margin-right: 10px;
}
.OtherCountryBtn{
  left: 100px;
  right: 100px;
}
}

@media screen and (max-width: 1200px) {

  .logo{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  .navContent{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  .navSecond{
    width: 100%;
    height: 3px;
  }
  .navFirst{
    font-size: 14px;
  }
  .navThird{
    font-size: 16px;
    text-transform: uppercase;
  }
  .navFirst ul,  .navThird ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navFirst li,  .navThird li {
    float: right;
  }
  .navFirst a,  .navThird a{
    font-family: Montserrat;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
  }
  .navFirst .social-icons li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .navFirst .social-icons li i{
    color: #f5e106;
    font-size: 16px;
  }
  .navFirst .icon{
    padding-top: 0px;
  }
  .mainImg{
    width: 100%;
    background-size: cover;
  }
  
  .mainText{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 0.7;
  }
  .mainText H1{
    font-size: 56PX;
  }
  .mainText h3{
    text-transform: uppercase;
  }
  .mainBtn{
    margin-top: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5px;
    background-color: #49c4aa;
    color: #000;
    font-size: 15.13pt;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  
  }

  .mainTopic{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .aboutContain p{
    width: 510px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .aboutContain{
    top: 56%;
    left: 59%;
  }
  #serviceBoxes{
    height: 650px;
  }
  .packAndGoContent1  , .packAndGoContent3{
    width: 300px;
    height: 440px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    5px 5px 10px #888888, 
    -5px -5px 10px #888888, 
    5px -5px 10px #888888, 
    -5px 5px 10px #888888;
  }
  .packAndGoContent2 {
    position: relative;
    width: 380px;
    height: 480px;
    border-radius: 10px;
    background-color: #eaeaea;
    text-align: center;
    box-shadow:
    -5px -5px 10px #888888a7, 
    5px -5px 10px #888888ad, 
    -5px 5px 10px #888888ac; 
  }
  .packAndGoContent2::before {
    content: "";
    position: absolute;
    bottom: -104px;
    left: 50%; 
    transform: translateX(-50%); 
    border-style: solid;
    border-width: 82px 202px 30px 202px; 
    border-color: #eaeaea  transparent transparent transparent; 
    border-radius: 30px;
  }
  .packAndGoContent1 img , .packAndGoContent3 img{
    width: 300px;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoContent2 img{
    justify-content: center;
    align-items: center; 
    justify-content: center; 
    width: 381px;
    margin: -30px ;
    border-radius: 10px 10px 0px 0px;
  }
  .packAndGoImg img{
    display: none;
  }
  .packAndGoContent p{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
  }
  .packAndGoContent h3{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .packAndGoContent h4{
    margin-bottom: 10px;
  }
  .PackAndGoBtn1 , .PackAndGoBtn2 , .PackAndGoBtn3{
    margin-left: 42px;
    margin-right: 42px;
  }
  .packAndGoImg{
    width: 100%;
    background: url('../images/bg1.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
  }
  .PackAndGoBlueLine::before {
    bottom: 120px;
  }
  .values {
    margin-top: 10px;
}
.values h2 {
  margin-bottom: 44px;
}
  .valuesImg img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  .valuesContain{
    width: 735px;
  }
  .valuesImg{
    margin-left: 30px;
  }
  .valuesSpan{
    width: 630PX;
  }
  .trans,.customer{
    width: 170px;
  }
  .encourage{
    width: 236px;
    font-size: larger;
  }
  #OtherCountry{
    margin-top: 450px;
    height: 800px;
  }
  .contactUsDetails1Img img{
    width: 40px;
    height: 40px;
  }
  .contactUsDetails1Text{
    padding-left: 50px;
  }
  #pagination {
    margin-bottom: 30px;
}
}

@media screen and (max-width:950px) {

  .aboutUs{
    flex-direction: column;
  }
  .aboutImgLeft,
    .aboutImgRight {
      flex-basis: 100%;
    }
    #serviceBoxes{
      height: 485px;
    }
    .packAndGoContent1 , .packAndGoContent3{
      width: 30%;
    }
    .packAndGoContent1 img , .packAndGoContent3 img{
      width: 100%;
    }
    .packAndGoContent2 img{
      width: 100%;
    }
    .packAndGoContent2::before {
      display: none;
    }
    .packAndGoContent1 p , .packAndGoContent3 p{
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
    }
    .PackAndGoBtn3, .PackAndGoBtn1{
      margin-right: 0px;
      margin-left: 0px;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      background-color: #f9e03b;
      color: #000;
      text-transform: uppercase;
      cursor: pointer;
    }
    .values{
      flex-direction: column;
      height: 750px;
    }
    .valuesImg{
      width: 90%;
      text-align: center;
    }
    .valuesContain{
      width: 100%;
      margin-top: 40px;
    }
    .values h2{
      text-align: center;
    }

    .valuesSpan{
      margin-left: 100px;
      margin-right: 100px;
    }

    .valuesContain p{
      margin: 30px;
      text-align: center;
    }
    
    .valuesBtn{
      margin-right: 40%;
      margin-left: 40%;
    }
  #OtherCountry{
      margin-top: 100px;
    }
  .contactUsDetails{
    flex-direction: column;
    height: 350px;
    align-items: center;
    text-align: center;
  }
  .contactUs .social-icons{
    margin-top: 200px;
  }
  .contactUsHead{
    font-size: 25pt;
  }
  #pagination {
    margin-bottom: 50px;
}

}

.mobileNav{
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
}

.mobileNav ul li{
  display: none;
}
.mobileNav ul li a{
  display: none;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #060606;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.mobileNav ul li a:hover{
  background-color: #edd81f;
  color: #000;
}

.mobileNav h1{
  display: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #262626;
}


@media screen and (max-width:746px){
  header{
    background-color: #000;
    height: 58px;
  }
  .logo img{
    width: 40px;
  }
  .mobileNav{
    display: block;
    width: 100%;
    z-index: 999;
  }
  .navContent{
    display: none;
    height: 20px;
  }
  
.mobileNav ul li{
  display: block;
}
.mobileNav ul li a{
  display: block;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.mobilenavbar{
  background-color: #000;
}
.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
.menu.show {
  display: block;
  background: white;
  height: 750px;
  float: right;
  width: 100%;
  margin-top: 10px;
}

.menu li {
  margin: 10px 0;
  background-color: #fffdfd;
  border-bottom: 0.2px solid #16161653;
}

.menu li a {
  color: #010101;
  text-decoration: none;
}
  .mainText{
    top: 50%;
  }
  .mainText h1{
    font-size: 30px;
  }
  .mainText h3{
    font-size: 20px;
  }
  .serviceContent p{
    margin-left: 100px;
    margin-right: 100px;
  }
  .packAndGoContent{
    flex-direction: column;
    margin: 0px;
    top: 150px;
    align-items: center;
  }
  .packAndGoContent1 , .packAndGoContent3, .packAndGoContent2{
    width:60%;
    height: auto;
    margin-top: 100px;
  }
  .packAndGoImg{
    height: 2200px;
    width: 100%;
    background: url('../images/bg1.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
  }
  .packAndGoContent1 p , .packAndGoContent3 p{
    margin: 20px;
  }
  .PackAndGoBtn1 , .PackAndGoBtn2 , .PackAndGoBtn3{
    margin: 20px;
  }
  .packAndGoImg img{
    display: none;
  }
  .contactUsHead{
    margin-top: -10px;
  }
  .valuesSpan{
    margin-left: 40px;
  }
  .valuesBtn {
    margin-right: 30%;
    margin-left: 36%;
}
  #OtherCountry{
    margin-top: 30px;
    height: 950px;
  }
  #pagination {
    margin-bottom: 80px;
}
}

@media screen and (max-width:550px){
  .mainText{
    top: 55%;
  }
.aboutContain{
  top: 70%;
  width: 100%;
}
.aboutContain p{
  width: 92%;
  height: auto;
  margin: 20px;
}
.aboutContain h1{
  text-align: center;
}
.aboutContain h2{
  text-align: center;
}
.contactUs .social-icons{

align-items: center;
justify-content: center;
text-align: center;}

.slider_container .container {
  padding: 0px 0px;
  margin: -40px 50px;
}
.packAndGoImg{
 height: 2000px;
}
.PackAndGoBlueLine::before {
  width: 100%;
}
.mainTopic{
  margin-left: 20px;
  margin-right: 20px;
}
.valuesSpan{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
  width: 480px;
}
.trans{
  width: 119px;
  font-size: 13px;
  font-weight: normal;
}
.customer{
  width: 150px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 13px;
  font-weight: normal;
}
.encourage{
  padding-right: 0px;
  margin-right: 0px;
  font-size: 13px;
  font-weight: normal;
  width: auto ;
}
.packAndGoContent p{
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}
.valuesBtn {
  margin-right: 20%;
  margin-left: 33%;
}
#OtherCountry{
  margin-top: 30px;
  height: 850px;
}
#OtherCountry .card_slider{
  margin-left: 50px;
  margin-right: 50px;
}
.contactUsHead {
  font-size: 18pt;
  margin-top: -22px;
}
#pagination {
  margin-bottom: 50px;
}
}
@media screen and (max-width:450px){

  .mainText{
    top: 58%;
  }
  .mainText h1{
    font-size: 20px;
  }
  .mainText h3{
    font-size: 15px;
    line-height: normal;
  }

  .values{
    margin-top: 150px;
  }

#OtherCountry{
  margin-top: 210px;
  height: 850px;
}
#OtherCountry .card_slider{
  margin-left: 20px;
  margin-right: 20px;
}
.valuesSpan{
  flex-direction: column;
  width: 80%;
}
.valuesContain p{
  margin-top: 200px;
}
.trans{
  width: 100%;
}
.customer{
  width: 100%;
}
.encourage{
  width: 100%;
  border: 1px solid #49c4aa;
  margin-left: 3px;
}
.encourage::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  border-style: solid;
  border-width: 35px 0 35px 20px;
  border-color: transparent transparent transparent #49c4aa;
}
#services {
  margin-top: 300px;
  height: 940px;
}
.packAndGo{
  margin-top: 0px;

}
.packAndGoImg{
  height: 1900px;
}
.PackAndGoBlueLine::before {
  width: 100%;
}
.packAndGoContent1, .packAndGoContent3, .packAndGoContent2 {
  width: 84%;
}
.valuesBtn{
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
}
.valuesImg {
  margin: auto;
}
.valuesContain{
  float: left;
  text-align: center;
}
.aboutImgLeft img {
  width: 90%;
  padding: 20px;
}
.aboutContain {
  top: 100%;
  width: 90%;
}
.contactUsDetails{
  margin-left: 242px;
}
.PackAndGoBlueLine::before {
  bottom: -10px;
  height: 250px;
}
.contactUsHead h2 {
  font-size: 26px;
}
.contactUsHead h3{
  margin-top: -20px;
}
.footer p{
  margin-left: 30px;
  margin-right: 30px;
}
#pagination {
  margin-bottom: 80px;
}
}
@media screen and (max-width:400px){
  .mainText {
    top: 62%;
}
.mainBtn {
  font-size: 10.13pt;
}
.aboutContain {
  top: 150%;
}
.aboutBtn{
  margin-right: 100px;
}
#services {
  margin-top: 500px;
  height: 1000px;
}
.serviceContent p {
  margin-left: 70px;
  margin-right: 70px;
}
.swiper-slide p{
  padding-top: 3vh;
}
}
